<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Error - 403 Forbidden</title>
</head>
<body>
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
    <div class="alert alert-secondary fill-parent" id="fail-message">
        <h1 class="display-5">403 - Forbidden Error</h1>
        <span>ACCESS NOT GRANTED.</span>
        <span>Please, click<a id="fail-redirect" th:href="@{/home}">here</a> to go back home. </span>
    </div>
</div>
</body>
</html>